n8n/workflows/profit-22-approve-matched-fc-bookkeeping-complete-triggers.json
{
  "name": "Profit - 22 Approve Matched FC Bookkeeping Complete Triggers",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e9f4c1a7-87ce-4fc6-a6eb-dcb1d16cb393",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "={{ 'https://xkaquelxqllmejmhffyf.supabase.co/rest/v1/profit_fc_completion_trigger_candidates?select=fc_task_id,client_name,project_title,task_title,completed_at,anchor_relationship_id,anchor_client_business_name,macro_service_type,trigger_type,service_period_month&suggested_trigger_type=eq.bookkeeping_complete&trigger_type=eq.bookkeeping_complete&anchor_relationship_id=not.is.null&macro_service_type=not.is.null&service_period_month=not.is.null&service_period_month=lt.' + $now.toFormat('yyyy-MM-dd') + '&approval_status=eq.pending&order=anchor_client_business_name.asc,service_period_month.asc&limit=5000' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "id": "ae48ffc8-b5ad-4b76-a694-0e91b98c50fe",
      "name": "Fetch Matched Bookkeeping Complete Candidates",
      "credentials": {
        "supabaseApi": {
          "id": "puB2mQFyyQ277f42",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidates = $input.all().map((item) => item.json);\nconst approvedAt = new Date().toISOString();\nconst rows = candidates.map((row) => ({\n  fc_task_id: Number(row.fc_task_id),\n  approval_status: 'approved',\n  approved_by: 'codex_conservative_bookkeeping_complete_loader',\n  approved_at: approvedAt,\n  notes: `Conservative approval: matched Anchor client and FC bookkeeping-complete task (${row.task_title} / ${row.project_title}) for ${row.service_period_month}.`,\n  loaded_at: approvedAt,\n}));\nreturn [{\n  json: {\n    rows,\n    summary: {\n      candidateCount: candidates.length,\n      approvalCount: rows.length,\n      samples: candidates.slice(0, 20),\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "e031c7fd-92b2-49df-aa35-69ee3e3e57c5",
      "name": "Build Approval Rows"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xkaquelxqllmejmhffyf.supabase.co/rest/v1/profit_fc_task_trigger_approvals?on_conflict=fc_task_id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.rows }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "id": "e09ea9ca-bb96-4f4e-b2dc-70a1762159f1",
      "name": "Upsert FC Task Trigger Approvals",
      "credentials": {
        "supabaseApi": {
          "id": "puB2mQFyyQ277f42",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json);\nreturn [{\n  json: {\n    status: 'ok',\n    approvedFcTaskCount: rows.length,\n    sample: rows.slice(0, 20),\n    note: 'Only matched bookkeeping_complete Financial Cents tasks with past service periods were approved.',\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "e9dc685c-a012-48ba-9eb3-49253b4b8949",
      "name": "Summarize Approval Upsert"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Matched Bookkeeping Complete Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Matched Bookkeeping Complete Candidates": {
      "main": [
        [
          {
            "node": "Build Approval Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Rows": {
      "main": [
        [
          {
            "node": "Upsert FC Task Trigger Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert FC Task Trigger Approvals": {
      "main": [
        [
          {
            "node": "Summarize Approval Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
