n8n/workflows/profit-15-load-revenue-event-candidates.json
{
  "id": "Pw6dS3mGt9cHb4nK",
  "name": "Profit - 15 Load Revenue Event Candidates",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e7309628-711d-4bdf-8a17-69d116763cf6",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://xkaquelxqllmejmhffyf.supabase.co/rest/v1/profit_anchor_line_item_classifications?select=anchor_line_item_id,anchor_invoice_id,anchor_relationship_id,macro_service_type,revenue_amount,include_in_revenue_allocation,classification_reason&include_in_revenue_allocation=eq.true&order=anchor_invoice_id.asc&limit=5000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -120
      ],
      "id": "ab8dd9b4-5ae0-4d67-9a42-b45a307b5694",
      "name": "Fetch Revenue Lines",
      "credentials": {
        "supabaseApi": {
          "id": "puB2mQFyyQ277f42",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://xkaquelxqllmejmhffyf.supabase.co/rest/v1/profit_anchor_invoices?select=anchor_invoice_id,issue_date,due_date,invoice_number,display_status&limit=5000",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        120
      ],
      "id": "e30f8094-fce6-48d5-8a99-c2aebf2728a0",
      "name": "Fetch Invoices",
      "credentials": {
        "supabaseApi": {
          "id": "puB2mQFyyQ277f42",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        540,
        0
      ],
      "id": "876f10b2-9b78-4231-8f57-08820821f548",
      "name": "Merge Fetches"
    },
    {
      "parameters": {
        "jsCode": "function monthStart(value) {\n  if (!value) return null;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return `${date.getUTCFullYear()}-${String(date.getUTCMonth() + 1).padStart(2, '0')}-01`;\n}\n\nfunction ruleForMacro(macro) {\n  switch (macro) {\n    case 'bookkeeping':\n      return ['bookkeeping_complete_required', 'pending_bookkeeping_completion'];\n    case 'payroll':\n      return ['payroll_processed_required', 'pending_payroll_processed'];\n    case 'tax':\n      return ['tax_filed_or_extended_required', 'pending_tax_completion'];\n    case 'advisory':\n      return ['advisory_delivery_review_required', 'pending_advisory_review'];\n    default:\n      return ['manual_review_required', 'pending_manual_review'];\n  }\n}\n\nconst revenueLines = $('Fetch Revenue Lines').all().map((item) => item.json);\nconst invoices = $('Fetch Invoices').all().map((item) => item.json);\nconst invoiceById = Object.fromEntries(invoices.map((invoice) => [invoice.anchor_invoice_id, invoice]));\n\nconst rows = revenueLines.map((line) => {\n  const invoice = invoiceById[line.anchor_invoice_id] ?? {};\n  const [recognitionRule, recognitionStatus] = ruleForMacro(line.macro_service_type);\n  return {\n    revenue_event_key: `rev_${line.anchor_line_item_id}`,\n    anchor_line_item_id: line.anchor_line_item_id,\n    anchor_invoice_id: line.anchor_invoice_id,\n    anchor_relationship_id: line.anchor_relationship_id ?? null,\n    macro_service_type: line.macro_service_type,\n    source_amount: Number(line.revenue_amount ?? 0),\n    recognized_amount: 0,\n    recognition_status: recognitionStatus,\n    recognition_rule: recognitionRule,\n    candidate_period_month: monthStart(invoice.issue_date ?? invoice.due_date),\n    recognition_date: null,\n    recognition_period_month: null,\n    trigger_source: null,\n    trigger_reference: null,\n    notes: 'Candidate generated from Anchor invoice line classification. Not recognized until completion trigger is applied.',\n    loaded_at: new Date().toISOString(),\n  };\n});\n\nconst byStatus = rows.reduce((acc, row) => {\n  acc[row.recognition_status] = (acc[row.recognition_status] ?? 0) + 1;\n  return acc;\n}, {});\nconst sourceAmount = rows.reduce((sum, row) => sum + Number(row.source_amount ?? 0), 0);\nreturn [\n  {\n    json: {\n      rows,\n      summary: {\n        candidateCount: rows.length,\n        sourceAmount: Math.round(sourceAmount * 100) / 100,\n        byStatus,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "52ad8840-875c-4098-83a6-746b1410ab09",
      "name": "Build Revenue Event Candidates"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xkaquelxqllmejmhffyf.supabase.co/rest/v1/profit_revenue_events?on_conflict=revenue_event_key",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.rows }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        0
      ],
      "id": "a72695fe-4ba0-450c-a531-82903e89a0bb",
      "name": "Upsert Revenue Events",
      "credentials": {
        "supabaseApi": {
          "id": "puB2mQFyyQ277f42",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json);\nconst byStatus = rows.reduce((acc, row) => {\n  acc[row.recognition_status] = (acc[row.recognition_status] ?? 0) + 1;\n  return acc;\n}, {});\nconst byRule = rows.reduce((acc, row) => {\n  acc[row.recognition_rule] = (acc[row.recognition_rule] ?? 0) + 1;\n  return acc;\n}, {});\nconst sourceAmount = rows.reduce((sum, row) => sum + Number(row.source_amount ?? 0), 0);\nconst recognizedAmount = rows.reduce((sum, row) => sum + Number(row.recognized_amount ?? 0), 0);\nreturn [\n  {\n    json: {\n      status: 'ok',\n      upsertedRevenueEventCount: rows.length,\n      sourceAmount: Math.round(sourceAmount * 100) / 100,\n      recognizedAmount: Math.round(recognizedAmount * 100) / 100,\n      byStatus,\n      byRule,\n      sample: rows.slice(0, 10),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "id": "2ac810f7-4ac9-4c58-9cb5-8b7f84c7e09f",
      "name": "Summarize Revenue Event Upsert"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Revenue Lines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Revenue Lines": {
      "main": [
        [
          {
            "node": "Merge Fetches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices": {
      "main": [
        [
          {
            "node": "Merge Fetches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Fetches": {
      "main": [
        [
          {
            "node": "Build Revenue Event Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Revenue Event Candidates": {
      "main": [
        [
          {
            "node": "Upsert Revenue Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Revenue Events": {
      "main": [
        [
          {
            "node": "Summarize Revenue Event Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
